.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
}

/* Position the Background component to cover the entire viewport */
.App > div:first-child {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Animation for the logo in the Home component */
@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
