.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
}


/* Animation for the logo in the Home component */
@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
